<div class="tile">
  
  <dx-data-grid 
    [dataSource]="standings"> 
    <dxo-paging [enabled]="false"></dxo-paging>           
    <dxi-column dataField="overall_league_position"></dxi-column>
    <dxi-column dataField="team_name"></dxi-column>
    <dxi-column dataField="overall_league_PTS"></dxi-column>
    <dxi-column dataField="overall_league_payed"></dxi-column>
    <dxi-column dataField="overall_league_W"></dxi-column>
    <dxi-column dataField="overall_league_D"></dxi-column>
    <dxi-column dataField="overall_league_L"></dxi-column>
    <dxi-column dataField="overall_league_GF"></dxi-column>
    <dxi-column dataField="overall_league_GA"></dxi-column>
  </dx-data-grid>
  
</div>
